<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitemap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Bellota:wght@300&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        body{position:relative;display: flex;}
        #func{position: relative;width:30vw;height: 300px;border: 1px black solid;top:10vh;left: auto;right:auto;}
        div{background-color: rgb(254, 242, 228); opacity: 80%;border-radius: 5%;width: 40vw;}
        nav{width:100vw;}
        @media only screen and (max-width: 400px) {
 #login{display: none;}
}
     
    </style>
</head>
<body>

    <nav> <a class="nav" href="/home">Home</a>
        <a class="nav right" id="tryit" href="/">Try-it</a>
        <a class="nav right" href="/contact">Contact</a>
        <a class="nav right" href="/usercase">Usecase</a>
        <a class="nav right" href="/sitemap">Sitemap</a>
    
        <a class="nav login">Login</a>
        
    </nav>
    
    <div id="func">
    <label>Pages:</label>
    <hr>
    <a href="/home">Home</a>
    <a href="/">Tryit-form page</a>
    <a href="/chathistory">Upload-Chathistory</a>
    <a href="/userprofile">Upload-Userprofile</a>
    <a href="/botprofile">Upload-botpicture</a>
    <a href="/">Chatbot page</a>
    <a href="/contact">Contact us</a>
    <a href="/usercase">Usercase</a>
    </div>


</body>
</html>