<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usercase</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Bellota:wght@300&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        
        div{width: 50vw;height: auto;}
        img{position: relative;width: 500px;width: 80vw;}
        #grandma{width: 80px;}
        p{font-size: 3vw;}
        nav{width: 100vw;}
        body{position: relative;top:50px;display: flex;}
        @media only screen and (max-width: 400px) {
 #login{display: none;}
}
        
    </style>
</head>
<body>
    <nav> <a class="nav" href="https://steyy.com">Home</a>
        <a class="nav right" id="tryit" href="/">Try-it</a>
        <a class="nav right" href="/contact">Contact</a>
        <a class="nav right" href="/usercase">Usecase</a>
        <a class="nav right" href="/sitemap">Sitemap</a>
    
        <a class="nav login" id="login">Login</a>
        
    </nav>
    <div>
    <img src="/static/grandma.gif" id="grandma">
    <h1>A real story</h1>
    <p>Gahram lost her dog a week ago and she has been devasted and missed her dog all day. Her grandson found this Website Steyy and recommended her to create a virtual replica of her dog. She is now able to talk to her dog and relief her grief.</p>
    <br>
    <img src="/static/image.png">
    </div>
   
</body>
</html>